@use "../../../../Styles/colors.scss" as colors;
@use "../../../../Styles/structure.scss" as structure;

.StoryDetails {
  display: flex;
  .StoryDetail,
  .Map {
    flex: 1;
  }
  .StoryDetail {
    background: colors.$black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: structure.gutter(3);
  }
}
