@use "../../../../Styles/structure.scss" as structure;
@use "../../../../Styles/colors.scss" as colors;

.Filter {
  margin-bottom: structure.gutter(2);
  h3  {
    margin-bottom: structure.gutter(1);
  }
  .FilterElements {
    display: flex;
    margin-bottom: structure.gutter(3);
    gap: structure.gutter(1);
    select,
    button {
      background: transparent;
      border: 1px solid colors.$white;
      color: colors.$white;
      &:hover {
        cursor: pointer;
        background-color: white;
        opacity: 0.5;
        color: colors.$black;
      }
    }
  }
}
