@use "../../../../Styles/structure.scss" as structure;
@use "../../../../Styles/colors.scss" as colors;

.Navigation {
  margin-bottom: structure.gutter(4);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: structure.gutter(1);
}
