@use "../../../../Styles/structure.scss" as structure;
@use "../../../../Styles/colors.scss" as colors;
@use "../../../../Styles/breakpoints.scss" as breakpoints;

.Timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: structure.gutter(5) 0;
  h2 {
    margin-bottom: structure.gutter(3);
    margin-top: 0;
  }
}
