@use "../../../../Styles/colors.scss" as colors;
@use "../../../../Styles/structure.scss" as structure;

.Popup {
  color: colors.$black;
  h3 {
    font-size: structure.gutter(3);
    margin-bottom: structure.gutter(1);
  }
  p {
    font-size: 12px;
  }
  i {
    opacity: 0.5;
    display: block;
    margin-bottom: structure.gutter(1);
  }
  img {
    width: 100%;
  }
}

.GoToTop {
  background: colors.$black;
  border: 1px solid colors.$white;
  color: colors.$white;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  padding: structure.gutter(1);
  &:hover {
    cursor: pointer;
  }
}
